.mainContent {
  height: 80vh;
  
  h1 {
    height: 7rem;
    line-height: 4.5rem;
  }

  a {
    background-color: #fff;
    width: 13rem;
    height: 6rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  img {
    width: 26rem;
    box-shadow: rgb(31,65,188) -39px 23px 106px;
  }
}


@media (max-width: 768px) {
  .mainContent {
    img {
      display: none;
    }

    h1 {
      text-align: center;
    }
  }
}
